@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    font-family: 'Shadows Into Light', cursive;
}
html {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
body {
    width: 700px;
    background-color: ;
}
.title {
    background-color: #fad2e1;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;
    color: #a8bcf3;
}
header {
    background-color:#fff1e6;
    margin-top: -21px;
    height: 150px;
}
h1 {
    padding: 20px 0px 0px 20px;
    color: #a8bcf3;
}
nav {
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: ;
    padding: 0px 0px 30px 40px;
    box-sizing:border-box;
    
}
nav a{
    text-decoration: none;
    color: #a8bcf3;
    border: 1px solid black;
    padding: 10px;
    background-color: #fad2e1;
    transition: .3s;
    width: 70px;
    text-align: center;
}
nav a:hover {
    color: #fad2e1;
    background-color: #a8bcf3;
}
.page {
    height: 100%;
    background-color: #eae4e9;
    box-sizing: border-box;
}
.about {
    display: flex;
    align-items: flex-end;
}
.bigImage {
    background:url(https://picsum.photos/430/280);
    height: 280px;
    width: 430px;
    margin: 10px;
    box-sizing: border-box;
}
.bio {
    width: 50%;
    box-sizing: border-box;
    padding: 0% 5% 0% 7%;
}
.name {
  color: #a8bcf3  
}
.projects {
    background-color: #fad2e1;
    color: #a8bcf3;
    padding: 10px;
    width: 120px;
    transition: .3s;
    
}
.projects:hover {
    color: #fad2e1;
    background-color: #a8bcf3;
    /* transform: rotate(20deg); */
    /* transform: skewY(20deg);  */
    transform: scaleY(1.5);
}
.journey {
    color: #a8bcf3
}
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.image {
    background:url(https://picsum.photos/150/150);
    height: 150px;
    width: 150px;
    margin: 10px;
}
.caption {
    color: #a8bcf3;
    text-align: center;
}
footer {
    background-color: #fff1e6;
    text-align: center;
    color: #a8bcf3;
    padding-top: 10px;
    height:100%;
}
.question {
    font-size: 20px;
}
.contact {
    color: #a8bcf3;
    background-color: #fad2e1;
    padding: 10px;
    width: 110px;
}
.contact:hover {
    color: #fad2e1;
    background-color: #a8bcf3;
}